.card-body {
    padding: 5%;
}

.card img {
    cursor: pointer;
}

@media(min-width: 960px) {
    #movies .col-md-3 .card {
        height: 100%;

    }

    #movies .col-md-3 img {
        padding: 5%;
        width: 100%;
    }
}